:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --background-color: #F6F4E9;
  --text-color: #210803;
  --text-color-light: #735d58;
  --banner-background-color: #FF3500;
  --banner-text-color: #F6F4E9;
  --secondary-banner-background-color: #FFD6F8;
  --secondary-banner-text-color: #FF3500;
  --button-text-color: #F6F4E9;
  --button-color: #6FB382;
  --button-color-hover: #5A8F6F;
  --button-color-active: #4C7B5A;
  --button-color-disabled: #A3C6A9;
  --switch-color: #FF3500;
  --font-primary: 'Work Sans', sans-serif !important;
  --menu-background: #fffefc;
  --menu-background-grey-light: #f9f9f9;
  --menu-background-grey-dark: #efefef;
  --menu-background-highlight: #f8f5f1;
  --menu-border: #d2c9bd;
  --menu-text: #210803;
  --menu-text-light: #735d58;
  --menu-grey-dark: #999999;
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-icon-color-success);
  --toastify-icon-color-warning: var(--toastify-icon-color-warning);
  --toastify-icon-color-error: var(--toastify-icon-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

body {
  font-family: "segoe UI", "Microsoft YaHei", "Arial", "Helvetica", "sans-serif" !important;
  color: #4d4d4d;
  font-size: 14px;
  font-style: normal;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  position: relative;
  box-sizing: border-box;
  background-color: var(--background-color);
  width: 100%;  /* Toma todo el ancho de la página */
}


.card-link-button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.card-link-button:hover,
.card-link-button:focus {
  color: blue;
  text-decoration: underline;
}

.card-link-button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.card-link-button:hover,
.card-link-button:focus {
  color: blue;
  text-decoration: underline;
}

button.login-btn {
  background-color: var(--bs-primary);
  color: var(--button-text-color);
  font-family: var(--font-primary);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

button.login-btn:hover {
  background-color: var(--button-color-hover);
}

button.login-btn:active {
  background-color: var(--button-color-active);
}

button.login-btn:disabled {
  background-color: var(--button-color-disabled);
  cursor: not-allowed;
}
.custom-navbar {
  width: 200%;
  max-width: 2000px; /* Ancho máximo */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 1rem 2rem; /* Espaciado interno */
  background-color: #343a40; /* Color de fondo oscuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.navbar-brand {
  font-size: 1.5rem; /* Tamaño de la fuente del logo */
  font-weight: bold;
}

.nav-link {
  font-size: 1.1rem; /* Tamaño de la fuente de los enlaces */
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de fondo */
}

.nav-link:hover {
  background-color: #495057; /* Fondo al pasar el ratón por encima */
  border-radius: 5px; /* Bordes redondeados */
}

.navbar-toggler {
  border: none; /* Sin borde para el botón */
}

.form-control {
  border-radius: 0.5rem; /* Bordes redondeados para el campo de búsqueda */
}

.btn-outline-success {
  border-radius: 0.5rem; /* Bordes redondeados para el botón */
}


